<a href="https://colab.research.google.com/github/Dulce01/26/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
## Tipo de datos  numeros flotantes (numeros decimales)
num = 10.5
type(num)

float

In [3]:
##Tipo de datos  numeros enteros
num = 10
type(num)

int

In [4]:
##comentarios 
##imprimir mensajes
print("Hola")

Hola

In [5]:
##Tipo de dato string (cadena/texto)
name = 'Samuel'
type(name)

str

In [9]:
##Operadores Matem√°ricos
##Ejemplo: convertir grados Fahrenheit a grados Celsius
celcius = 32.5
Fahrenheit= (celcius * (9/5)) + 32
print(Fahrenheit)

90.5

In [12]:
##Funcions 
def convertidor_grados(celcius):
  Fahrenheit= (celcius * (9/5)) + 32
  return Fahrenheit

In [13]:
convertidor_grados(32.5)

90.5

In [15]:
##Metodo input

cel = input()

12

In [17]:
print(cel)
type(cel)

12

str

In [21]:
entrada=input('Ingresa la temperatura ')

Ingresa la temperatura 12

In [22]:
print(entrada)

12